body {
    background-color: white  ;
}

.cardsfront{
    margin-right: auto; 
    margin-left: auto;
}

h1{
    text-align: center;
    color: darkgreen
}

.evenement{
    background: linear-gradient(
      rgba(0, 60, 255, 0.45), 
      rgba(0, 60, 255, 0.45)
    ),url("old_map.png");
}

.corruption{
    background: repeating-linear-gradient(
        45deg,
        rgba(218, 112, 214, 0.45), 
        rgba(218, 112, 214, 0.45) 10px, 
        rgba(255, 255, 0, 0.45) 10px,
        rgba(255, 255, 0, 0.45) 20px
      ),url("old_map.png");
}

.attaque{
    background: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45) 
    ),url("old_map.png");
}

.excuse{
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 60, 255, 0.45), 
        rgba(0, 60, 255, 0.45) 10px, 
        rgba(255, 0, 0, 0.45) 10px, 
        rgba(255, 0, 0, 0.45) 20px 
      ),url("old_map.png");
}

.evenement_exil{
    background: linear-gradient(
        rgba(42, 42, 42, 0.45), 
        rgba(42, 42, 42, 0.45)
      ),url("old_map.png");
}

.attaque_exil{
    background: linear-gradient(
        rgba(42, 42, 42, 0.45), 
        rgba(42, 42, 42, 0.45)
      ),url("old_map.png");
}

.recrutement_exil{
    background: linear-gradient(
        rgba(42, 42, 42, 0.45), 
        rgba(42, 42, 42, 0.45)
      ),url("old_map.png");
}


.financement{
    background: linear-gradient(
        rgba(255, 255, 0, 0.7), 
        rgba(255, 255, 0, 0.7)
      ),url("old_map.png");
}


.recrutement{
    background: linear-gradient(
        rgba(218, 112, 214, 0.45), 
        rgba(218, 112, 214, 0.45)
      ),url("old_map.png");
}

.force{
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.45), 
        rgba(255, 0, 0, 0.45) 10px, 
        rgba(255, 255, 0, 0.45) 10px,
        rgba(255, 255, 0, 0.45) 20px
      ),url("old_map.png");
}

.politique{
    background-color: dodgerblue
}



.suffrage{
    background: linear-gradient(
      rgba(127, 255, 212, 0.45), 
      rgba(127, 255, 212, 0.45) 
    ),url("old_map.png");
}

.influence{
    background: linear-gradient(
      rgba(0, 140, 0, 0.55), 
      rgba(0, 140, 0, 0.55) 
    ),url("old_map.png");
}


ul li{
    display:inline-block;
    margin: 5px;
}

.card {
   /* margin: 2mm; */
   vertical-align: top;
    display:inline-block;
    padding: 12px; 
    border: 1px solid #000;   
    border-radius:10px; 
    position:relative;
    max-height: 376px;
    max-width: 246px;
}

.circle {
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;    
    text-align: center;
    display: flex;       
}

.vote{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='40px'> <circle cx='20' cy='20' r='20' stroke='black' stroke-width='0' fill='greenyellow' /><text font-family='Helvetica,Arial' x='10' y='36' fill='black' font-size='9'>VOIX</text></svg>");
    border: 1px solid darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    top: 0px;
    left: 0px;    
    position: absolute;
}


.forceValue{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='40px'> <circle cx='20' cy='20' r='20' stroke='black' stroke-width='0' fill='lightcoral' /><text font-family='Helvetica,Arial' x='10' y='36' fill='black' font-size='9'>Force</text></svg>");
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    top: 0px;
    left: 0px;    
    position: absolute;
}

.cost{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='40px'> <circle cx='20' cy='20' r='20' stroke='black' stroke-width='0' fill='yellow' /><text font-family='Helvetica,Arial' x='14' y='36' fill='black' font-size='9'>M₱</text></svg>");
    border: 1px solid darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    bottom: 0px;
    right: 0px;    
    position: absolute;
}


.cardTitle{
    color: black;
    text-align: center;
    text-anchor: start;
    min-height: 50px;
    max-height: 80px;
    padding-top: 40px;
}

.striped{    
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
    ),url("old_map.png");
}

.insideCard{
    background-color: antiquewhite;    
    display:inline-block;
    padding: 0px; 
    color: black;
    height: 350px;
    max-height: 350px;
    width: 220px;
    background-image: url("old_map.png");
}

.cardTexts{
    display: inline-block;
}

.cardText{
    background-color: antiquewhite; 
    display:block;
    font-family: sans-serif;
    font-size: 12px;    
    text-align: justify;    
    margin: 5px;
    padding: 5px;
    border-radius:5px; 
    width: 198px;    
    border: 1px solid #000;
}

.cardBottomContainer{
    display: inline-flex;
    align-items: flex-end;
    bottom: 20px;
    position: absolute;
}


.cardImage {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    max-height: 100px;    
    max-width: 180px;    
}

.card h3{
    font-size: 10px ;
    font-style: italic;
    color: darkslategray;
    margin: 5px;
}

.card h2{
    font-size: 18px ;
    font-style: bold;
    margin: 2px;
}

